<app-alert-message>
  <div class="alert alert-danger delete-customer" *ngIf="deletedCustomer">
    <strong>Success!</strong> Deleted User information succesfully :)
  </div>
</app-alert-message>


<div class="d-flex flex-row justify-content-between align-items-baseline">
  <h4 class="table-heading text-center">Customers</h4>
  <button
    class="table-create-button btn btn-primary btn-md bg-purple"
    [routerLink]="['create']"
  >
    Create New Customers
  </button>
</div>

<div class="table-content mt-4 bg-white p-4">
  <!-- <div
    class="table-content-top btn-toolbar justify-content-between pb-4 pt-2"
    role="toolbar"
    aria-label="Toolbar with button groups"
  >
    <div class="input-group input-group-sm">
      <input
        type="text"
        class="form-control"
        placeholder="search by department"
        aria-label="Input group example"
        aria-describedby="btnGroupAddon2"
        [(ngModel)]="searchByUser"
      />
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="30"
        height="24"
        fill="currentColor"
        class="bi bi-search"
        viewBox="-2 -1 16 16 "
        (click)="onSearch()"
      >
        <path
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
        />
      </svg>
    </div> -->

    <!-- sorting Icons
      <div class="btn-group btn-group-sm" role="group">
        <button type="button" class="btn btn-outline-secondary">1</button>
        <button type="button" class="btn btn-outline-secondary">2</button>
        <button type="button" class="btn btn-outline-secondary">3</button>
        <button type="button" class="btn btn-outline-secondary">4</button>
      </div> -->
  <!-- </div> -->

  <table class="table-content-middle table table-hover pb-5">
    <thead>
      <tr>
        <th>
          <!-- <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
            />
          </div> -->
          Action
        </th>
        <th>Customer ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Department</th>
        <th>DOB</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customerList">
        <td>
          <!-- Edit Icon-->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-pencil-square m-1"
            viewBox="0 0 16 16"
            [routerLink]="['edit', customer._id]"
          >
            <path
              d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
            />
            <path
              fill-rule="evenodd"
              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
            />
          </svg>
          <!-- Delete Icon-->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-trash"
            viewBox="0 0 16 16"
            (click)="onDemandDeletCustomer(customer._id)"
          >
            <path
              d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
            />
            <path
              fill-rule="evenodd"
              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
            />
          </svg>
        </td>
        <td>
          <a
            class="text-primary text-decoration-none"
            [routerLink]="['view', customer._id]"
            >{{ customer._id }}</a
          >
        </td>
        <td>{{ customer.firstName }}</td>
        <td>{{ customer.lastName }}</td>
        <td>{{ customer.emailAddress }}</td>
        <td>{{ customer.phoneNumber }}</td>
        <td>{{ customer.department }}</td>
        <td>{{ customer.dob | date }}</td>
      </tr>
    </tbody>
  </table>

  <!-- pagination -->
  <div class="table-content-bottom d-flex justify-content-between pt-3 pb-2">
    <div class="page-left-content">
      <span class="p-0"
        >showing {{ currentPage * pageSize - pageSize + 1 }} to
        {{ currentPage * pageSize }} results</span
      >

      <!-- <select class="form-select form-select-sm pt-1 pb-0">
      <option selected>Select page</option>
      <option value="1">1</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select> -->
    </div>

    <div class="page-right-content">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li
            class="page-item"
            *ngIf="currentPage > 1"
            (click)="goToSpecificPage(-1)"
          >
            <a class="page-link" [ngClass]="{ infocus: currentPage == -1 }"
              >Previous</a
            >
          </li>
          <li class="page-item" (click)="goToSpecificPage(1)">
            <a class="page-link" [ngClass]="{ infocus: currentPage == 1 }">1</a>
          </li>
          <li class="page-item" (click)="goToSpecificPage(2)" *ngIf="maxPages > 1">
            <a class="page-link" [ngClass]="{ infocus: currentPage == 2 }">2</a>
          </li>
          <li class="page-item" (click)="goToSpecificPage(3)" *ngIf="maxPages > 2">
            <a class="page-link" [ngClass]="{ infocus: currentPage == 3 }">3</a>
          </li>
          <li
            class="page-item"
            (click)="goToSpecificPage(99)"
            *ngIf="maxPages > 3"
          >
            <a class="page-link" [ngClass]="{ infocus: currentPage > 3 }"
              >Next</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
