<div>
  <div class="container p-2 pt-5 pb-4">
    <div class="d-flex flex-row justify-content-between align-items-baseline">
      <h4 class="table-heading text-center">Heading</h4>
      <button class="table-create-button btn btn-primary btn-sm">
        Create New Invoice
      </button>
    </div>

    <!-- dashboard cards -->
    <div
      class="dashboard-card-cont d-flex flex-row flex-wrap justify-content-between pt-3"
    >
      <div class="card text-dark bg-light mb-3" style="max-width: 18rem">
        <div class="card-body">
          <h5 class="card-title">68</h5>
          <p class="card-text">Some quick example</p>
        </div>
      </div>
      <div class="card text-dark bg-light mb-3" style="max-width: 18rem">
        <div class="card-body">
          <h5 class="card-title">68</h5>
          <p class="card-text">Some quick example</p>
        </div>
      </div>
      <div class="card text-dark bg-light mb-3" style="max-width: 18rem">
        <div class="card-body">
          <h5 class="card-title">68</h5>
          <p class="card-text">Some quick example</p>
        </div>
      </div>
      <div class="card text-dark bg-light mb-3" style="max-width: 18rem">
        <div class="card-body">
          <h5 class="card-title">68</h5>
          <p class="card-text">Some quick example</p>
        </div>
      </div>
      <div class="card text-dark bg-light mb-3" style="max-width: 18rem">
        <div class="card-body">
          <h5 class="card-title">68</h5>
          <p class="card-text">Some quick example</p>
        </div>
      </div>
      <div class="card text-dark bg-light mb-3" style="max-width: 18rem">
        <div class="card-body">
          <h5 class="card-title">68</h5>
          <p class="card-text">Some quick example</p>
        </div>
      </div>
    </div>

    <div class="table-content mt-4 bg-white p-4">
      <table class="table-content-middle table table-hover pb-5">
        <thead>
          <tr>
            <th>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                />
              </div>
            </th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                />
              </div>
            </td>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
        </tbody>
      </table>

      <!-- pagination -->
      <div
        class="table-content-bottom d-flex justify-content-between pt-3 pb-2"
      >
        <div class="page-left-content">
          <span class="p-0">showing 1 to 10</span>

          <select class="form-select form-select-sm pt-1 pb-0">
            <option selected>Select page</option>
            <option value="1">1</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>

        <div class="page-right-content">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#">Previous</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
